ion-item {
  --min-height: 15px !important;
  font-size: small;
}

.open {
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

ion-list {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
